# clang-format configurator v2 https://clang-format-configurator.site/
# see https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
BasedOnStyle: LLVM
Standard: c++20

ColumnLimit: 120
MaxEmptyLinesToKeep: 5

AccessModifierOffset: -4
TabWidth: 4
IndentWidth: 4
PPIndentWidth: 2
IndentPPDirectives: AfterHash
ObjCBlockIndentWidth: 4

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros:
  Enabled: true
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator

AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BreakBeforeBinaryOperators: NonAssignment
InsertBraces: true
InsertNewlineAtEOF: true
PointerAlignment: Left
